
<!--Pulling Awesome Font -->


<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
			<br>
            <div class="form-login">
            <h4>Amazon Web Service</h4>
            <input type="text" id="userName" ng-model="EmailId" class="form-control input-sm chat-input" placeholder="username" />
            <br>
            <input type=password id="userPassword" ng-model="Password" class="form-control input-sm chat-input" placeholder="password" />
            <br>
            <div class="wrapper">
            <span class="group-btn">     
             <p>New Member? <a href="" class="" ng-click="go('/Register')">Sign up</a> <button type="button" class="btn btn-info btn-md" ng-click="Login()">Login</button></p>  
							
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>