<div class="container">
	<div class="row">
		<div class="col-md-offset-5 col-md-3">
			<br>
			<div class="form-login">
				<h4>Amazon Web Service</h4>
				<input type="text" id="userName" ng-model="EmailId" class="form-control input-sm chat-input" placeholder="Email" />
				<br>
				<input type=password id="userPassword" ng-model="Password" class="form-control input-sm chat-input" placeholder="password" />
				<br>
				<input type="text" id="userPassword" ng-model="FirstName" class="form-control input-sm chat-input" placeholder="First Name" />
				<br>
				<input type="text" id="userPassword" ng-model="LastName" class="form-control input-sm chat-input" placeholder="Last Name" />
				<br>
				<div class="wrapper">
					<span class="group-btn">     
             <p>Go Back to Register <a href="" class="" ng-click="go('/')">Login</a> <button type="button" class="btn btn-success btn-md" ng-click="RegisterUser()">Register</button></p>  
							
            </span>
				</div>
			</div>

		</div>
	</div>
</div>